.e-input {
  border: none;
  border-bottom: 2px solid #bcbcbc;
  background-color: #fff;
  color: #0e0e0e;
  font-family: "Cabin", sans-serif;
  transition: border .2s linear;

  &.-l {
    width: 330px;
    line-height: 1.5;
    font-weight: 700;
    font-size: 40px;
    text-align: right;
  }
  &.-m {
    width: 390px;
    line-height: 1.2;
    font-weight: 600;
    font-size: 30px;
  }
  &:focus {
    outline: none;
    border-color: #0e0e0e;
  }
  %placeholder {
    color: #767676;
  }
  &[placeholder] {
    @extend %placeholder;
  }
  &::-webkit-input-placeholder {
    @extend %placeholder;
  }
  &::-moz-placeholder {
    @extend %placeholder;
  }
  &:-moz-placeholder {
    @extend %placeholder;
  }
  &:-ms-input-placeholder {
    @extend %placeholder;
  }
}

.e-checkbox {
  display: inline-block;
  position: relative;

  ._input {
    display: none;

    & + ._label:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border: solid 2px #bcbcbc;
      transition: background .2s linear, border .2s linear;
    }
    &:checked + ._label {
      color: #464646;

      &:before {
        border-color: #000;
        background-color: #000;
        background-image: url("data:image/svg+xml;utf-8,\
        <svg width='20' height='20' xmlns='http://www.w3.org/2000/svg'>\
          <g stroke-width='2' stroke='white'>\
            <line x1='2' y1='12' x2='8' y2='17'></line>\
            <line x1='7' y1='17' x2='18' y2='3'></line>\
          </g>\
        </svg>");
      }
    }
    &:not(checked) + ._label{
      color: #767676;

      &:before {
        background-color: transparent;
        background-image: none;
      }
    }
  }
  ._label {
    display: block;
    line-height: 1.54;
    padding-left: 34px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    cursor: pointer;
    transition: color .2s linear;

    p {
      margin: 0;
    }
  }
}

.e-button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: opacity .2s linear;

  &:disabled {
    opacity: .2;
  }
  &.-black,
  &.-grey {
    min-width: 160px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
  &.-black,
  &.-white {
    text-transform: uppercase;
  }
  &.-black {
    background-color: #000;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(188, 188, 188, 0.54);
  }
  &.-grey {
    background-color: #f6f6f6;
    color: #0e0e0e;
  }
  &.-white {
    background-color: #fff;
    color: #0e0e0e;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    text-align: center;

    &.-xl {
      max-width: 215px;
      height: 70px;
      line-height: 70px;
      font-size: 26px;
    }
    &.-l {
      min-width: 330px;
      height: 70px;
      line-height: 70px;
      font-size: 24px;
    }
    &.-m {
      min-width: 166px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
    }
    &.-s {
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      border-radius: 2px;
      font-size: 14px;
    }
  }
}

.e-ordered-list {
  margin-top: 32px;
  padding: 0;

  li {
    position: relative;
    padding-left: 30px;
    list-style: none;

    &:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: 3px;
      left: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 100%;
      background-color: #bcbcbc;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 12px;
      text-align: center;
    }
  }
}

.e-header-text {
  margin: 46px 0 5px;
  line-height: 1.5;
  color: #0e0e0e;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.e-caption-text {
  color: #0e0e0e;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.e-label-text {
  margin: 0;
  color: #767676;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.e-base-text {
  margin: 0;
  line-height: 1.56;
  color: #767676;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.e-landing-header-text {
  margin: 0 0 25px;
  line-height: 1.2;
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  font-size: 50px;
}

.e-landing-base-text {
  line-height: 1.39;
  color: #bcbcbc;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.e-number-text {
  margin: 0;
  font-family: "Cabin", sans-serif;
  font-weight: 600;

  &.-black {
    color: #0e0e0e;
  }
  &:not(.-black) {
    color: #767676;
  }
  &.-m {
    font-size: 23px;
  }
  &.-s {
    font-size: 20px;
  }
}

.e-info-text {
  @extend .e-label-text;
  position: relative;
  line-height: 1.43;
  margin: 20px 0;
  padding-left: 24px;

  &:before {
    content: 'i';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    line-height: 17px;
    border-radius: 100%;
    border: solid 1px #8d8d8d;
    color: #767676;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-align: center;
  }
}

.e-markdown-block {
  &.-landing {
    h1 {
      @extend .e-landing-header-text;
    }
    p {
      @extend .e-landing-base-text;
    }
  }
  &.-default {
    counter-reset: li;

    h1 {
      @extend .e-header-text;
    }
    h2 {
      line-height: 1.2;
      margin: 10px 0;
      color: #0e0e0e;
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      font-size: 30px;
    }
    h3 {
      @extend .e-caption-text;
    }
    p, a {
      @extend .e-base-text;
    }
    ol {
      @extend .e-ordered-list;
      & + p {
        padding-left: 30px;
      }
    }
    hr {
      margin: 35px 0;
      color: #bcbcbc;
      opacity: .5;
    }
    &.-black {
      h2, h3 {
        color: #fff;
      }
      p, a {
        color: #bcbcbc;
      }
    }
    &.-center {
      > h2, > h3, > p {
        width: 570px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
    &.-main {
      > h2, > h3, > p {
        width: 630px;
      }
    }
    &.-ecosystem {
      position: relative;

      > p:last-of-type {
        position: absolute;
        top: 0;
        right: 0;
        width: 550px;
      }
      blockquote {
        margin: 50px 0 0;
      }
      blockquote:only-of-type {
        display: flex;
        justify-content: space-between;
        width: 100%;

        blockquote {
          width: 30%;
          padding: 40px 30px;
          border-radius: 4px;
          border: solid 2px #ededed;

          h3 {
            margin-bottom: 5px;
          }
        }
      }
      img {
        width: 100%;
      }
    }
    &.-token {
      > p:last-of-type {
        display: flex;
        justify-content: space-around;
        width: 700px;
        margin-top: 40px;

        img {
          height: 240px;
          width: auto;
        }
      }
    }
  }
  &.-modal {
    p, a {
      @extend .e-base-text;
    }
  }
  &.-tokens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h3 {
      @extend .e-caption-text;
      margin: 50px 0 10px;
    }
    h4 {
      margin: 10px 0;
      color: #0e0e0e;
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      font-size: 18px;
    }
    h5 {
      line-height: 1.56;
      margin: 35px 0 0;
      color: #767676;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 16px;
    }
    p {
      @extend .e-base-text;
    }
    ol, blockquote p {
      @extend .e-label-text;
    }
    blockquote {
      width: 30%;
      margin: 30px 0 10px;

      p {
        line-height: 1.43;
      }
      br {
        margin: 3px 0;
      }
      img {
        display: block;
        width: 60px;
        height: 50px;
        line-height: 50px;
        margin: 10px 0 15px;
        object-fit: contain;
        color: #767676;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        text-align: center;
      }
    }
    ol {
      counter-reset: li;
      margin: 0;
      padding: 0;

      li {
        position: relative;
        margin: 5px 0;
        padding-left: 20px;
        list-style: none;

        &:before {
          content: counter(li)'.';
          counter-increment: li;
          position: absolute;
          top: 0;
          left: 0;
          font-weight: 700;
        }
      }
    }
    ul {
      display: flex;
      width: 100%;
      padding: 0;
      list-style-type: none;

      strong {
        margin-right: 10px;
      }
      img {
        width: 190px;
        height: 190px;
      }
      li:first-child {
        width: 70%;
      }
      ul {
        display: block;

        li {
          width: 100% !important;
          line-height: 2.5;
          margin: 0;
          color: #767676;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;

          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 15px;
            margin-right: 10px;
            border-radius: 100%;
          }
        }
        $colors: #5b5b5b, #7d7d7d, #adadad, #dddddd;

        @for $i from 1 through length($colors) {
          li:nth-child(#{$i}):before {
            background-color: nth($colors, $i);
          }
        }
      }
    }
  }
}

.e-inside-content-block {
  width: 100%;
  max-width: 650px;

  &:not(.-left) {
    margin: 0 auto;
    padding: 0 10px 100px;
  }
}

.e-white-content-block {
  padding: 25px 25px;
  border-radius: 4px;
  background-color: #fff;
}

.e-fade-enter-active, .e-fade-leave-active {
  transition: opacity .15s
}
.e-fade-enter, .e-fade-leave-to {
  opacity: 0
}
