.e-input {
  width: 330px;
  line-height: 1.5;
  border: none;
  border-bottom: 2px solid #bcbcbc;
  background-color: #fff;
  color: #0e0e0e;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 40px;
  transition: box-shadow .3s linear;

  &:focus {
    outline: none;
    box-shadow: 0 10 5px -3px rgb(188, 225, 255);
  }
  %placeholder {
    color: #767676;
  }
  &[placeholder] {
    @extend %placeholder;
  }
  &::-webkit-input-placeholder {
    @extend %placeholder;
  }
  &::-moz-placeholder {
    @extend %placeholder;
  }
  &:-moz-placeholder {
    @extend %placeholder;
  }
  &:-ms-input-placeholder {
    @extend %placeholder;
  }
}

.e-button {
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(188, 188, 188, 0.54);
  cursor: pointer;
  text-decoration: none;

  &.-black,
  &.-grey {
    min-width: 160px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
  &.-black,
  &.-white {
    text-transform: uppercase;
  }
  &.-black {
    background-color: #000;
    color: #fff;
  }
  &.-grey {
    background-color: #f6f6f6;
    color: #0e0e0e;
  }
  &.-white {
    background-color: #fff;
    color: #0e0e0e;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    text-align: center;

    &.-l {
      min-width: 300px;
      height: 70px;
      line-height: 70px;
      font-size: 24px;
    }
    &.-m {
      min-width: 166px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
    }
    &.-s {
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      border-radius: 2px;
      font-size: 14px;
    }
  }
}

.e-ordered-list {
  counter-reset: li;
  margin-top: 32px;
  padding: 0;

  ._element {
    position: relative;
    padding-left: 30px;
    list-style: none;

    &:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: 3px;
      left: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 100%;
      background-color: #bcbcbc;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 12px;
      text-align: center;
    }
  }
}

.e-header-text {
  margin: 46px 0 5px;
  line-height: 1.5;
  color: #0e0e0e;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.e-caption-text {
  margin: 32px 0 6px;
  color: #0e0e0e;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.e-label-text {
  margin: 0;
  color: #767676;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.e-base-text {
  margin: 0;
  line-height: 1.56;
  color: #767676;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.e-landing-header-text {
  line-height: 1.2;
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 50px;
  font-weight: 500;
}

.e-landing-base-text {
  line-height: 1.39;
  color: #bcbcbc;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.e-number-text {
  margin: 0;
  font-family: "Cabin", sans-serif;
  font-weight: 600;

  &.-black {
    color: #0e0e0e;
  }
  &.-smaller {
    line-height: 1.56;
    font-size: 16px;
  }
  &:not(.-black) {
    color: #767676;
  }
  &:not(.-smaller) {
    font-size: 20px;
  }
}

.e-inside-content-block {
  max-width: 650px;

  &:not(.-left) {
    margin: 0 auto;
    padding: 0 10px;
  }
}

.e-white-content-block {
  padding: 25px 30px;
  border-radius: 4px;
  background-color: #fff;
}

.e-fade-enter-active, .e-fade-leave-active {
  transition: opacity .15s
}
.e-fade-enter, .e-fade-leave-to {
  opacity: 0
}
