@mixin media($media...) {
  @each $breakpoint in $media {
    @if $breakpoint == mobile {
      @media only screen and (max-width: $break-tablet) {
        @content;
      }
    }
    @else if $breakpoint == tablet {
      @media only screen and (min-width: $break-tablet) and (max-width: $break-desktop) {
        @content;
      }
    }
    @else if $breakpoint == desktop {
      @media only screen and (min-width: $break-desktop) and (max-width: $break-wide) {
        @content;
      }
    }
    @else if $breakpoint == wide {
      @media only screen and (min-width: $break-wide) {
        @content;
      }
    }
    @else if $breakpoint == not-mobile {
      @media only screen and (min-width: $break-tablet) {
        @content;
      }
    }
  }
}

@mixin transition($types...) {
  $transition: ();
  @each $t in $types {
    @if $t == text {
      $transition: append($transition, color .25s linear, comma);
    } @else if $t == svg {
      $transition: append($transition, fill .25s linear, comma);
    } @else if $t == background {
      $transition: append($transition, background .25s linear, comma);
    } @else if $t == border {
      $transition: append($transition, border-color .35s linear, comma);
    } @else {
      $transition: append($transition, $t, comma);
    }
  }
  transition: $transition;
}
