.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  overflow: auto;
  background-color: rgba(0, 0, 0, .45);
}

.m-fade-enter-active, .m-fade-leave-active {
  transition: opacity .3s;
}
.m-fade-enter, .m-fade-leave-to {
  opacity: 0;
}

.m-window {
  position: relative;
  width: 100%;
  max-width: 520px;
  max-height: 90vh;
  min-height: 300px;
  padding: 30px 40px 50px;
  overflow-y: auto;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.67);

  &.agreement {
    max-width: 820px;
  }
  &.wallet {
    max-width: 670px;
  }
}

.m-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.m-header-text {
  line-height: 1.2;
  margin: 10px 0;
  color: #0e0e0e;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.m-markdown-block {
  h2 {
    @extend .m-header-text;
  }
}
