.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  overflow: auto;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, .45);
}

.m-fade-enter-active, .m-fade-leave-active {
  transition: opacity .3s;
}
.m-fade-enter, .m-fade-leave-to {
  opacity: 0;
}

.m-window {
  position: relative;
  width: 100%;
  max-width: 520px;
  min-height: 300px;
  margin: 30px auto;
  padding: 30px 40px 50px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.67);
  @include media(wide) {
    max-width: 650px;
  }
  &.agreement {
    max-width: 820px;
    @include media(wide) {
      max-width: 1000px;
    }
  }
  &.wallet {
    max-width: 670px;
  }
  &.image-view {
    width: auto;
    max-width: 90%;
    padding: 4vh 40px;
  }
}

.m-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @include media(wide) {
    top: 20px;
    right: 20px;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.m-header-text {
  line-height: 1.2;
  margin: 10px 0;
  color: #0e0e0e;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 30px;
  @include media(wide) {
    font-size: 34px;
  }
}

.m-markdown-block {
  h2 {
    @extend .m-header-text;
  }
}
